@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #0B1220;
  color: white;
  font-family: 'Inter', sans-serif;
}
/* Styles for glowing dot and floating effect */
body {
  background-image: radial-gradient(circle, rgba(43, 211, 198, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: float-effect 40s linear infinite;
}

@keyframes float-effect {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 500px;
  }
}

.glowing-dot {
    width: 12px;
    height: 12px;
    background-color: #00E5FF;
    border-radius: 50%;
    box-shadow: 0 0 5px #00E5FF, 0 0 10px #00E5FF, 0 0 15px #00E5FF;
    animation: pulse-glow 2s infinite ease-in-out;
}

@keyframes pulse-glow {
    0% { transform: scale(0.8); opacity: 0.6; }
    50% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(0.8); opacity: 0.6; }
}

.custom-div-icon {
    background: none !important;
    border: none !important;
}
